<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
</head>
<body>
    <h1>Lista de Livros</h1>
    <a href="/adicionar">Adicionar Livro</a>
    <ul>
        {% for livro in livros %}
            <li>{{ livro.titulo }} - {{ livro.autor }} {{ livro.ano }}
                {% if livro.disponivel %}
                    - Disponível
                {% else %}
                    - Indisponível
                {% endif %}
            </li>
        {% endfor %}	 
    </ul>
</body>
</html>